main{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
.classess{
    background-color: #d9d9d9;
    padding: 30px;
    border-radius: 30px;
}
.module-list{
    position: fixed;
    background-color:#2f2f2f ;
    color:white;
    min-width: 200px;
    padding:40px 100px 40px 30px;
    overflow: scroll;
    max-height: 400px;
}
#list-logo{
    margin:5px;
}
.module-list ul{
    list-style-type: none;
}
/* #module-list{
    display: none;
}
#module-list.open{
    display: block;
} */
.module{
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
 
}
.list-logo{
    margin: 5px 10px;
}

.module-list p{
    text-align: right;
}
.module-list i{
    text-align: left;
}
a{
    text-decoration: none;
    color: aliceblue;
}

.item{
    margin:20px 0px;
    
}
.class-content{
    margin-top: 20px;
}
.class-main{
    padding-right: 40px;
}
.hide{
    width: 0px;
    overflow: hidden;
}